* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 99%; }
  body header {
    background: #00293b;
    color: #f8b300;
    padding: 10px;
    width: 100%;
    height: 120px;
    font-size: 30px;
    font-weight: 700; }
    body header .logo {
      width: 40px;
      margin: 20px;
      text-align: justify; }
      body header .logo .nombre {
        display: none; }
      body header .logo:hover {
        width: 99%; }
        body header .logo:hover .nombre {
          display: inline; }
  body main {
    width: 100%; }
    body main .formulario {
      text-align: center;
      margin: 20px auto;
      width: 50%;
      padding: 10px; }
      body main .formulario input, body main .formulario textarea {
        height: 50px;
        padding: 10px;
        border: 1px solid #00293b;
        border-radius: 5px;
        font-size: 20px;
        margin-bottom: 40px; }
      body main .formulario input[type=text], body main .formulario input[type=email], body main .formulario textarea {
        width: 80%; }
      body main .formulario textarea {
        height: 200px;
        min-width: 80%;
        max-width: 80%;
        min-height: 200px;
        max-height: 200px; }
      body main .formulario input[type=submit], body main .formulario input[type=reset] {
        width: 33%;
        background: #00293b;
        color: white; }
        body main .formulario input[type=submit]:hover, body main .formulario input[type=reset]:hover {
          cursor: pointer;
          background: #f8b300;
          color: #00293b;
          border: none; }
  body footer {
    background: #006080;
    color: #f8b300;
    padding: 20px;
    width: 100%;
    height: 98px;
    font-size: 30px;
    font-weight: 700;
    text-align: center; }
    body footer p {
      margin: 20px auto; }
